/* mobile */
@media only screen and (min-width: 0em) {

}

/* desktop */
@media only screen and (min-width: 64em) {
  #onlinetelerehab-content {
    max-width: 57.2em;
    margin: auto;
    padding: 0;

  }
  .angle-right-icon {
    height: 0.8em;
  }
}