.dropdown {
  float: left;
  overflow: hidden;
}

.dropbtn {
  text-transform: none;
}

.dropdown .dropbtn {
  font-size: 18px;    
  border: none;
  outline: none;
  color: white;
  /* padding: 14px 16px; */
  background-color: inherit;
  /* font-family: inherit; */
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.4em;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  max-width: 100%;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  /* background-color: #555; */
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}



@media screen and (max-width: 600px) {
  
  .dropdown {float: none;}
  .dropdown-content {
    position: relative;
    background-color: #0e817c;
    box-shadow: none;
    color: white;

  }
  .dropdown-content a {
    color: white;
  }
  .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}