/*mobile*/
@media only screen and (min-width: 0em) {

  #services-table .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 1rem;
    display: block;
  }

  #services-table .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: center;
    max-width: 43.75rem;
    margin: 0 auto 1rem;
    color: var(--headerColor);
    position: relative;
  }

  #services-table .title {
    --primary: #FFB599;
    --darkPrimary: #FFB599;
    --tint: #996d5c;
    --shade: #49b5b0;
    --accessible: #c25327;
    --dark: #121212;
    --medium: #292929;
    --light: #3c3c3c;
    font-family: "Lato", Arial, sans-serif;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    margin: 0;
    font-weight: 900;
    font-size: min(9vw, 2.4em);
    line-height: 1.20833333;
    color: #1A1A1A;
    position: relative;
    margin-bottom: 1.91666667em;
    text-align: center;
    height: 100%;
  }

  #services-table .title:before {
    content: '';
    position: absolute;
    display: block;
    height: 0.0825em;
    width: 1.515625em;
    background: #EEBE76;
    opacity: 1;
    bottom: -0.390625em;
    left: 50%;
    transform: translateX(-50%);

  }

  .services-container {
    margin-top: 5rem;
    max-width: 57.2em;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    padding-top: 5rem;
  }

  .services-table-item {
    text-align: left;
    list-style: none;
    width: 100%;
    max-width: 18em;
    margin: 0 auto 4rem;
    /* Padding L & R - 16px - 32px */
    /* padding: 3.75rem clamp(1rem, 3.2vw, 2rem) 0; */
    padding-top: 1em;
    /* 32px - 40px */
    padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
    box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* Prevents padding from affecting height & width */
    box-sizing: border-box;
  }

  .personaltraining-image > span{
    height: 150px !important;
    width: 280px !important;
    position: relative !important;
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
    width: 95%;
  }

  .services-table-item p {
    width: 17rem;
    text-align: center;
  }

  .services-table-item h3{
    padding-top: 1em;
  }


}

/* Desktop - 1024px */
@media only screen and (min-width: 64em) {

  .services-container {
    max-width: 57.2em;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 0.5em;
    padding-top: 5rem;
  }

  .services-table-item {
    text-align: left;
    list-style: none;
    width: 100%;
    max-width: 18em;
    height: 15rem;
    margin: 0 auto 4rem;
    /* Padding L & R - 16px - 32px */
    /* padding: 3.75rem clamp(1rem, 3.2vw, 2rem) 0; */
    padding-top: 1em;
    /* 32px - 40px */
    padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
    box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* Prevents padding from affecting height & width */
    box-sizing: border-box;
  }

  .services-table-item h3 {
    padding-top: 0.3rem;
    position: absolute;
    top: 10rem;
    text-align: center;
    word-wrap: break-word;
  }

  .services-title {
    position: relative;
  }

  .services-title::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:  var(--primary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .services-title:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .services-title:hover {
    cursor: pointer;
  }

  .personaltraining-image {
    position: absolute;
    top: 0;
  }

  .personaltraining-image:hover {
    cursor: pointer;
  }

  .personaltraining-image > span{
    max-height: 121px !important;
    max-width: 230px !important;
    position: relative !important;
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
    width: 95%;
  }
}