@media only screen and (min-width: 0em) {
	.faq-section {
		padding-bottom: 1.5rem;
	}
	.faq-question {
		display: flex;
		flex-direction: row;
	}

	.faq-title {
		padding-bottom: 1rem;
		padding-top: 1rem;
		text-align: center;
	}

	.faq-question p{
		font-weight: 700;
		width: 22rem;
	}

	.fa-chevron-down {
		padding-right: 0.5rem;
	}

	.faq-answer {
		padding-left: 1.5rem;
		padding-top: 1rem;
		width: 22rem;
	}
}


/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
 #faq {
	 width: 57.2em;
	 margin: auto;
	 text-align: center;
	 display: flex;
	 flex-direction: column;
 }

 .faq-section {
	 text-align: center;
	 padding-top: 3rem;
	 /* border-bottom: 0.05rem solid gray; */
	 width: 40em;
	 margin: auto;
	 position: relative;
	 box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
   border-radius: 0.25rem;
	 box-sizing: border-box;
 }

 .faq-question {
	 text-align: left;
	 display: flex;
 }

 .faq-question p {
	text-align: left;
	display: flex;
	font-weight: 700;
	width: 40rem;
	}

 .faq-question:hover {
	 cursor: pointer;
 }
 .faq-answer {
	 padding-top: 1.5rem;
	 text-align: left;
	 width: 38em;
	 
 }
 .fa-chevron-down {
	 padding-right: 0.5rem;
 }

 

}

