/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/
main {
  min-height: 50em;
}
/* Mobile */
@media only screen and (min-width: 0em) {
  #hero {
    font-size: inherit;
    padding-bottom: 13.5em;
    padding-top: 5em;
    position: relative;
    z-index: 1;
    /* background: url("../public/images/infinite-wellness-background.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f1f1f1;
  }
  #hero:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #ECEFFE;
    opacity: .3;
    top: 0;
    left: 0;
    z-index: -10;
  }
  #hero .hero-content {
    width: 96%;
    max-width: 57.2em;
    margin: auto;
    position: relative;
    z-index: 10;
  }
  #hero .hero-content {
    padding: 0;
  }
  #hero .heroText {
    width: 100%;
    max-width: 28.9em;
  }
  #hero h1 {
    font-weight: bold;
    font-size: 2.8em;
    color: #000000;
    line-height: 1.17857143;
    margin-bottom: 0.41071429em;
  }
  #hero p {
    font-size: 0.9em;
    line-height: 1.5;
    margin-bottom: 1.33333333em;
    color: #595959;
  }
  #hero .buttons {
    display: flex;
    justify-content: flex-start;
  }
  #hero .button-solid {
    margin: 0;
    margin-right: 2.88888889em;
    height: 2.94444444em;
    padding-top: 0.16666667em;
  }
  #hero .call-now {
    height: 2.94444444em;
    width: 9.11111111em;
    font-size: 0.9em;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin: 0;
  }
  #hero .call-now img {
    display: inline-block;
    width: 1.16666667em;
    height: 1.16666667em;
  }
  #hero .call-now .dark {
    display: none;
  }
  #hero .call-now span {
    display: block;
  }
  #hero .call-now .text {
    font-size: 0.6em;
    line-height: 1.16666667;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }
  #hero .call-now .number {
    font-weight: bold;
    line-height: 1.16666667;
    font-size: 1em;
  }
  #hero .business-casual {
    display: none;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #hero {
    padding: 6.15em 0 11.45em 0;
    z-index: 1;
    overflow: hidden;
    background: url("../public/images/neckstretch.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #hero .hero-content {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  #hero .business-casual {
    display: block;
    width: 17.5em;
    position: absolute;
    right: 0;
    top: -3.5em;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #hero {
    padding-top: 10em;
    padding-bottom: 14em;
    background-attachment: fixed;
  }
  #hero .business-casual {
    right: 2.5em;
  }
}

/*-- -------------------------- -->
<---           About            -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #about-content-home .container {
    padding: 0;
    width: 96%;
    margin: auto;
  }
  #about-content-home .image {
    position: relative;
    width: 100%;
    max-width: 20em;
    height: 20em;
    margin: auto;
    margin-bottom: 2.5em;
    padding-top: 2rem;
  }
  #about-content-home .image .fitness {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
  }
  #about-content-home .content .topper {
    font-size: 0.7em;
    line-height: 1.35714286;
    color: var(--primary);
    letter-spacing: .06em;
    margin-bottom: 0.42857143em;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
  }
  #about-content-home .content h2 {
    font-size: 1.8em;
    line-height: 1.16666667;
    color: #000;
    font-weight: 900;
    margin-bottom: 0.66666667em;
    position: relative;
  }
  #about-content-home .content h2:before {
    content: '';
    position: absolute;
    display: block;
    height: 4.16666667em;
    width: 4.16666667em;
    background: var(--primary);
    opacity: .05;
    top: -1.38888889em;
    left: -1.38888889em;
    z-index: -1;
  }
  #about-content-home .content .decoration {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.9em;
  }
  #about-content-home .content .decoration .decorationimage {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-right: 0.75em;
  }
  #about-content-home .content .decoration .line {
    width: 80%;
    height: 1px;
    background: var(--primary);
  }
  #about-content-home .content p {
    font-size: 0.9em;
    line-height: 1.5;
    color: #595959;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #about-content-home {
    padding-top: 5em;
  }
  #about-content-home .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 57.2em;
  }
  #about-content-home .image {
    margin: 0;
    max-width: 20em;
  }
  #about-content-home .content {
    width: 27.5em;
    margin-left: 2.5em;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #about-content-home .image {
    max-width: 25em;
  }
}

/* Large Desktop */
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile */
/* @media only screen and (min-width: 0em) {
  #services {
    padding-top: 0;
    margin-top: -6em;
    display: flex;
    flex-direction: column-reverse;
    z-index: 100;
    position: relative;
  }
  #services .service {
    background: #0e817c;
    padding: 2.1em;
    width: 90%;
    margin: auto;
  }
  #services .service:nth-of-type(2) {
    border-bottom: 0.05em solid rgba(73, 181, 176, 0.5);
  }
  #services .service:nth-of-type(2) {
    background: #10625e;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    order: 1;
    margin-bottom: 0;
  }
  #services .service:nth-of-type(2) .button-solid {
    color: #10625e;
  }
  #services .service:nth-of-type(2) .button-solid:before {
    background: var(--primary);
  }
  #services .service:nth-of-type(2) .button-solid:hover {
    color: #fff;
  }
  #services .service h2 {
    color: #fff;
    font-size: 1.2em;
    line-height: 1.16666667;
    margin-bottom: 0.625em;
    text-align: left;
    font-weight: 900;
  }
  #services .service h2 span {
    display: block;
    color: #fff;
  }
  #services .service p {
    color: #fff;
    font-size: 0.9em;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 1.66666667em;
    opacity: 1;
  }
  #services .service .button-solid {
    background: #fff;
    color: #10625e;
  }
  #services .service .button-solid:hover {
    color: #fff;
  }
} */
/* Large Phone */
/* @media only screen and (min-width: 600px) and (max-width: 790px) {
  #services {
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #services .service:nth-of-type(1) {
    border-right: 0.05em solid rgba(255, 255, 255, 0.05);
  }
  #services .service:nth-of-type(1),
  #services .service:nth-of-type(3) {
    width: 50%;
    border-radius: 0;
  }
  #services .service:nth-of-type(2) {
    order: -1;
  }
  #services .service:nth-of-type(2) h2,
  #services .service:nth-of-type(2) p {
    text-align: center;
    max-width: 20em;
    margin-left: auto;
    margin-right: auto;
  }
  #services .service:nth-of-type(2) .button-solid {
    margin: auto;
    display: block;
  }
} */
/* Tablet */
/* @media only screen and (min-width: 791px) {
  #services {
    flex-direction: row;
    align-items: flex-end;
    width: 96%;
    max-width: 57.2em;
    margin: auto;
    margin-top: -6.5em;
    position: relative;
    z-index: 100;
    padding: 0;
  }
  #services .service {
    margin: 0;
    width: 18.6em;
    height: auto;
    border-radius: 0.25em 0.25em 0 0;
  }
  #services .service:nth-of-type(2) {
    order: initial;
    width: 20em;
    height: 17.25em;
    border: none;
  }
  #services .service:last-of-type {
    border-radius: 0.25em 0.25em 0 0;
  }
} */
/* Small Desktop */
/* @media only screen and (min-width: 64em) {
  #services .service:nth-of-type(2) {
    box-shadow: none;
  }
} */
/* Large Desktop */



/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  .services {
    border-radius: 0.3125em;
    margin: auto;
    margin-top: -5.4375em;
    position: relative;
    z-index: 100;
    background: #fff;
    width: 90%;
    max-width: 57.2em;
    padding: 3.125em 1.25em;
    border-top: 0.375em solid var(--primary);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    margin-bottom: 3.125em;
  }
  .services .card {
    display: block;
    width: 100%;
    max-width: 22.3125em;
    margin: auto;
    margin-bottom: 3.125em;
  }
  .services .card:last-of-type {
    margin-bottom: 0;
  }
  .services .card picture {
    background: var(--primary);
    width: 4.4em;
    height: 4.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 1.4375em;
    border-radius: 50%;
  }
  .services .card picture img {
    width: 3em;
    height: 3em;
  }
  .services .card h2 {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.35em;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 0.65em;
  }
  .services .card p {
    text-align: center;
    line-height: 1.33333333em;
    width: 100%;
    opacity: .7;
  }
}
/* Inbetween */
@media only screen and (min-width: 768px) {
  .services {
    font-size: min(1.8vw, 1em);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 98%;
  }
  .services .card {
    margin: 0;
    max-width: 20.3125em;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  .services {
    padding: 3.125em 5em;
  }
  .services .card {
    max-width: 22.3125em;
  }
}
/* Dark mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #services {
    background: var(--medium);
  }
  body.dark-mode #services picture {
    background: var(--primaryDark);
  }
  body.dark-mode #services h2 {
    color: #fff;
    font-weight: bold;
  }
}




/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #sbs {
    padding: var(--sectionPadding);
  }
  #sbs .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2.5rem;
  }
  #sbs .cs-left {
    /* scaling the font size with the view width */
    font-size: min(2.31vw, .7em);
    /* using ems so we can use font size to scale the whole section */
    width: 39.4375em;
    height: 39.75em;
    position: relative;
  }
  #sbs .cs-picture {
    border-radius: 1.5em;
    /* clips img tag corners */
    overflow: hidden;
    position: absolute;
    display: block;
  }
  #sbs .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }
  #sbs .cs-picture1 {
    width: 32.625em;
    height: 36.3125em;
    left: 0;
    top: 0;
  }
  #sbs .cs-picture2 {
    width: 25.875em;
    height: 25em;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid #ffffff;
    right: 0;
    bottom: 0;
  }
  #sbs .cs-right {
    margin: auto;
    max-width: 33.875rem;
  }
  #sbs .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #sbs .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: left;
    max-width: 50rem;
    margin: 0 auto 1rem;
    color: var(--headerColor);
    position: relative;
  }
  #sbs .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: left;
    width: 100%;
    max-width: 46.875rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    color: var(--bodyTextColor);
  }
  #sbs .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs .cs-flex-group {
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
    background-color: #F7F7F7;
    border-radius: 1rem;
    position: relative;
  }
  #sbs .cs-flex-p {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0 0 1rem;
    color: #767676;
  }
  #sbs .cs-name {
    font-size: 1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0.25rem;
    color: var(--headerColor);
    display: block;
  }
  #sbs .cs-job {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: #767676;
    display: block;
  }
  #sbs .cs-quote-icon {
    /* 60px - 136px */
    width: clamp(3.75rem, 10vw, 8.5rem);
    height: auto;
    position: absolute;
    bottom: 0rem;
    /* 16px - 32px */
    right: clamp(1rem, 4vw, 2rem);
  }
  #sbs .button-solid {
    margin-top: 2rem;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
  #sbs .cs-container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  #sbs .cs-left {
    font-size: min(1.2vw, 1em);
    flex: none;
  }
  #sbs .cs-right {
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #sbs .cs-left:before,
  body.dark-mode #sbs .cs-left:after {
    background: var(--accent);
  }
  body.dark-mode #sbs .cs-picture2 {
    background-color: var(--dark);
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
  }
  body.dark-mode #sbs .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #sbs .cs-title,
  body.dark-mode #sbs .cs-text,
  body.dark-mode #sbs .cs-h3,
  body.dark-mode #sbs .cs-flex-p,
  body.dark-mode #sbs .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs .cs-flex-group {
    background-color: var(--accent);
  }
  body.dark-mode #sbs .cs-job {
    color: var(--bodyTextColorWhite);
    opacity: .8;
  }
  body.dark-mode #sbs .cs-quote-icon {
    opacity: .2;
  }
}